/*  General  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: black;
  color: white;
}

body {
  font-family: "Roboto";
  background-color: #f2f2f2;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: black;
  height: 310px;
}

.footer-content {
  display: flex;
}

.footer-logo {
  width: 120px;
  height: 33px;
  margin-top: 71px;
  margin-left: 43px;
  margin-right: 262px;
  fill: white;
}

.footer-links {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 72px;
  gap: 100px;
  margin-right: 101px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer-link {
  white-space: nowrap;
  font-size: 15px;
  color: #9e9aa8;
  margin-top: 22px;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  gap: 24px;
  margin-top: 73px;
}

@media (max-width: 1210px) {
  .footer-logo {
    margin-right: 100px;
  }
}

@media (max-width: 1040px) {
  .footer-logo {
    margin-right: 60px;
  }

  .footer-links {
    margin-right: 55px;
  }

  .footer-link {
    margin-right: -65px;
  }
}

@media (max-width: 915px) {
  .footer {
    height: auto;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin-left: 60px;
  }

  .footer-links {
    flex-direction: column;
    text-align: center;
  }

  h4 {
    margin-left: 65px;
  }
}
